<section id="home-title">
  <div class="text-center" id="title-div">
    <hr></hr>
    <h1 id="title">A Dish and a Dream</h1>
    <hr></hr>
  </div>
</section>

<section id="home-content">
  <p id="title-desc" class="text-justify">One of the coolest foodie photo sharing apps. Have a look at some delicious photos of some of the best creations shared by our users. Share your foodie photos for a chance to present and license your recipes to established restaurants and start ups looking for fresh ideas</p>
  <div id="home-tiles" class="row">
    <div class="col-xs-4 photo">
      <div id="photo01"></div>
    </div>
    <div class="col-xs-4">
      <div id="photo02"></div>
    </div>
    <div class="col-xs-4">
      <div id="photo03"></div>
    </div>
  </div>
  
</section>
  
<section id="buttons">
  <div class="row text-center">
    <div class="col-md-6 col-xs-12">
      <button class="btn btn-primary btn-lg">Delicious Dishes</button>
    </div>
    <div class="col-md-6 col-xs-12">
      <button class="btn btn-info btn-lg">The Dream</button>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-6 col-xs-12">
      <button class="btn btn-success btn-lg">Share Your Dish</button>
    </div>
    <div class="col-md-6 col-xs-12">
      <button class="btn btn-warning btn-lg">Share your Dream</button>
    </div>
  </div>
</section>

