<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center" id="title-div">
    <hr></hr>
    <h1 id="title">Hello World!</h1>
    <p id="title-welcome">Welcome to a Dish and a Dream</p>
    <hr></hr>
  </div>
</div>

